.amount-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 40px;

  &__item {
    width: 447px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 6px;
    padding: 25px 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #9096a0;
  }

  &__term {
    padding-top: 5px;
  }

  &__description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1b1d21;
  }
}
